*{
    /*border: solid black 2px;*/
    background-color: pink;
}

h1 {
    text-align: center;
}
#paragraph {
    text-align: left;
}

#paragraph > h2 {
    text-align: center;
}
section {    
    text-align: center;
    background-color: pink;
    /*border: solid black 2px;*/
}

nav {
    text-align: center;
}

ul li {
    display: inline-block;
    /*border: solid black 1px;*/
    margin: 50px;
}

footer {
    text-align: center;
}
